@import "../../../color-variables.scss";

.btn {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding: 16px 20px;
    transition: transform 0.2s ease, padding 0.2s ease;

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }

    &.primary {
        color: white;
        background: -webkit-linear-gradient(180deg, $primary-color, $secondary-color);
        font-size: 16px;
        font-weight: bold;
    }

    &.secondary {
        background-color: white;
        color: $primary-text;
        font-size: 12px;
        font-weight: bold;
    }

    &:hover {
        transform: scale(0.9);
    }

    &:active {
        transform: scale(0.8);
    }
}

@media (min-width: 768px) {
    .btn {
        padding: 20px 40px;

        &.primary {
            font-size: 24px;
        }

        &.secondary {
            font-size: 16px;
        }
    }
}